# Time zone in tz database format
TZ=Europe/Minsk
ENV=ANYTHING
WORKERS=4
BOT_TOKEN=
# ID of user which can configure the bot throught PM
OWNER_ID=
# Chat ID's in format -100XXXXXXXXXX
FROM_CHATS=
TO_CHATS=
FROM_CHATS_1=
TO_CHATS_1=
FROM_CHATS_2=
TO_CHATS_2=
FROM_CHATS_3=
TO_CHATS_3=
FROM_CHATS_4=
TO_CHATS_4=
FROM_CHATS_5=
TO_CHATS_5=

